<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>609555256488-vtfa5ikfmo9a552nfqeljfqfg6dbi6cf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.609555256488-vtfa5ikfmo9a552nfqeljfqfg6dbi6cf</string>
	<key>API_KEY</key>
	<string>AIzaSyAJRQOWPcxJDoVCDQ5kP_3jJ_6jTRFUcT8</string>
	<key>GCM_SENDER_ID</key>
	<string>609555256488</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alanrabelo.Series-Cards</string>
	<key>PROJECT_ID</key>
	<string>series-cards</string>
	<key>STORAGE_BUCKET</key>
	<string>series-cards.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:609555256488:ios:b00f6a1ec564aad2</string>
	<key>DATABASE_URL</key>
	<string>https://series-cards.firebaseio.com</string>
</dict>
</plist>